.card-app {
    flex: 1 1 50%;
    padding: 130px 0px 140px 0px;
}

.card--spotify {
    background-color: #2ebd59;
    padding-left: 4%;
}

.card--itunes {
    background-color: #282b2f;
    padding-left: 4%;
}